Repository astropy/ci-helpers, pull requests merged in 2019-08, with the labels that each got.

#407 Ensure PEP 8 runs for [docs only] directive
  travis/setup_conda.sh
Labels: bug, merge-when-ci-passes

#409 Leave nomkl alone if numpy is not defined by NUMPY_VERSION
  travis/setup_dependencies_common.sh
Labels: bug, merge-when-ci-passes, travis

#410 Adding test-cov as a valid coverage trigger
  README.md
  travis/setup_dependencies_common.sh
Labels: merge-when-ci-passes, travis

#411 Pin Python to 3.7.3 on conda
  travis/setup_dependencies_common.sh
Labels: merge-when-ci-passes, travis, workaround

#413 Remove python 3.7.3 pinning
  travis/setup_dependencies_common.sh
Labels: conda, solved workaround
